.h4 {
    height :100%;
    padding-top : 3.5rem;
    margin-bottom :0;
    text-decoration: underline;
    color : red;
}
.h5 {
    text-align : left; 
}
.h4:hover {
    cursor : pointer;
}
.h5:hover {
    cursor : pointer;
    text-decoration: underline;
    font-size :1.4rem;
}
.collapse {
    padding-left :0;
}
.h6 {
    font-size : 1.4rem;
    color : red;
    text-decoration: underline;
}