.background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/853/26/556/space-art-artwork-concept-art-fantasy-art-wallpaper-preview.jpg');
}

.persoLevels {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3vh;
  border-radius: 30px;
  width: 100%;
}

.versus {
  font-size: 5em;
  color: white;
  font-weight: bold;
}
