h2 {
    text-align: center;
    padding-bottom: 1vw;
    font-family: 'Bangers', cursive !important;
    font-size: 3rem !important;
  }
  h1 {
    text-align: center;
    font-size: 5rem !important;
    font-family: 'Bangers', cursive !important;
  }