.modal-body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6c662COfZrJC274uc1_32s7beQW0ptrB25AYtbgNZE3IIqEhZ&usqp=CAU");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
  }
  .text {
      padding-bottom : 2vw;
  }