.arene_container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.arene_container img {
    width: 95%;
    border-radius: 20px;
    height: 15vw;
}

.arene_container button::before {
    color: black !important;
}

.arene_container h2 {
    color: red;
    text-align: left;
}


.areneNormal:hover {
    width : 20vw;
    height: 20vw;
    position: relative
}

/* .slick-slider {
    width: 60vw;
    margin-left: -5vw;
}

.slick-list {
    height: 30vh;
    padding: 6vh 6vw 6 vh 6vw;
    width: 60vw;
} */