.arene_container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.arene_container img {
    width: 95%;
    border-radius: 20px;
    height: 15vw;
}

.arene_container button::before {
    color: black !important;
}

.arene_container h2 {
    color: red;
    text-align: left;
}


.areneNormal:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: .3s ease-in-out;
    border-radius: 20px;
}