.modal-body{
    overflow : auto;
    max-height : 300px !important;
    padding : 0;
    border-left : 1px solid lightgrey
}

.rules {
    padding-left :0
}
h4 {
    text-align : center;
}
.text {
    padding : 15px;
}
img {
    width : 50px;
}

.text p {
    text-indent : 40px;
    text-align : justify;
}

.text h5 , .text h4{
   text-indent : 40px;
   color : #ED1D24;
}
