.navigation {
  padding-bottom: 20px;
  width: 100px;
  height: 100vh;
  border-right: solid lightgrey;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
}
.navlogo {
  margin-bottom: 50px;
}
.navlink {
   margin: 20px 0 70px 0 !important;
}
figure {
  position: relative;
}
figcaption {
  opacity: 0;
  color: black;
  text-transform: capitalize;
  position: absolute;
  top: 12px;
  left: 65px;
  background-color: white;
  z-index: 1000;
}

figure:hover figcaption {
  transition: all 1s;
  opacity: 1;
}
