.row {
    align-items: flex-end;
}

.refine {
    color : red
}
.refine:hover {
    cursor : pointer;
}
.input {
    padding-left : 15vw !important;
    width : 10vw
}
.buttonok {
    margin-bottom : 0 !important;
}
.colbutton {
    align-self: self-end;
}