body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


/* general stylesheet marie homePage */
p.textColor{
  color: #ED1D24!important;
}

button{
  width: 150px;
  background-color: #ED1D24!important;
  border: 2px solid #ED1D24 !important;
  border-radius: 500px!important;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .4)!important;
}

button:hover{
  background-color: transparent!important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)!important;
  color: #ED1D24!important;
  transition: all .4s ease-out;
}
/* END general stylesheet marie homePage */

.modal-dialog {
  max-width: 70vw !important;
  max-height : 50px !important;
}
.modal-content {
  border-radius : 20px !important;
}
.collapse{
  width : 80vw;
  padding-top: 2vw;
  padding-left : 15vw
}


